body{
    overflow-x: hidden;  
}

.imagem{
    top: 10px;
    left: 0px;
    position: absolute;
}

.texto01 {font-family: Segoe UI; 
    color: #ffffff;  
    font-size: 26px
} 

.texto02 {font-family: Segoe UI; 
        color: #1489f7;  
        font-size: 26px
}  

hr{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 90%;
}

.cartao:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}